<style>
    .jumbotron {
        height: 100vh;
        position: relative;
    }

    .jumbotron-text {
        text-align: center;
        color: white;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>

<div class="jumbotron jumbotron-fluid my-0">
    <div class="contianer">
        <div class="jumbotron-text">
            <h1>Praktijk voor Orthopedagogiek & Psychologie</h1>
            <h2>Home</h2>
        </div>
    </div>
</div>