<style>
    .jumbotron {
        position: relative;
    }

    .jumbotron::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .jumbotron-text {
        text-align: center;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>

<div class="jumbotron jumbotron-fluid my-0 text-light">
    <div class="contianer">
        <div class="jumbotron-text">
            <h1>Praktijk voor Orthopedagogiek & Psychologie</h1>
            <h2>Zorg Maatschap Den Haag</h2>
        </div>
    </div>
</div>