<style>
    .jumbotron {
        height: 50vh;
    }

    .jumbotron::before {
        background-color: #367238;
    }
</style>

<partial name="_Jumbotron"></partial>
<div class="container-fluid position-relative px-0" style="top: -5rem;">
    <div class="bg-light shadow-lg mx-sm-5 px-5 pb-5">
        <div class="col-12 text-center">
            <h3 class="display-5 py-4">Vragen?</h3>
            <p class="text-muted">Als u een opmerking of een klacht heeft, dan kunt u met de hulp van het
                contactformulier op de website een bericht achterlaten. Hier gaan we meteen achterna om de problemen die
                u ervaart te verhelpen. Ook heeft u de mogelijkheid om een mail te sturen naar <a
                    href="mailto:contact@zmdh.nl">contact@zmdh.nl</a>, dan
                heeft u binnen 1 tot 3 werkdagen een antwoord op uw vraag of een oplossing voor uw probleem. Wilt u
                liever bellen? Dan reageren wij elke dag van 9:00 tot 17:00 op het telefoonnummer <a
                    href="tel:+31 070 12345678">+31 070 12345678</a>. </p>
        </div>
        <section id="about" class="mb-5">
            <div class="row">
                <div class="col-lg-6 col-sm-12 my-3 d-none d-lg-block">
                    <div class="mapouter">
                        <div class="gmap_canvas embed-responsive">
                            <iframe class="embed-responsive-item" id="gmap_canvas"
                                src="https://maps.google.com/maps?q=De%20haagse%20hogeschool&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            <a href="https://www.whatismyip-address.com"></a>
                            <br>
                            <style>
                                .mapouter {
                                    position: relative;
                                    text-align: right;
                                    height: 400px;
                                    width: 100%;
                                }

                                .gmap_canvas {
                                    overflow: hidden;
                                    background: none !important;
                                    height: 400px;
                                    width: 100%;
                                }
                            </style>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 my-3 mx-auto">
                    <div class="container-fluid">
                        <form class="row g-3">
                            <div class="col-md-6 my-2">
                                <label for="naamInvoer" class="form-label">Volledige naam</label>
                                <input type="text" class="form-control" id="naamInvoer" placeholder="Volledige naam">
                            </div>
                            <div class="col-md-6 my-2">
                                <label for="emailInvoer" class="form-label">E-mailadres</label>
                                <input type="email" class="form-control" id="emailInvoer" placeholder="E-mailadres">
                            </div>
                            <div class="col-12 my-2">
                                <label for="inputAddress" class="form-label">Onderwerp</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="Onderwerp vraag">
                            </div>
                            <div class="col-12 my-2">
                                <label for="vraagInvoer" class="form-label">Vraag</label>
                                <textarea class="form-control" name="vraagInvoer" id="vraagInvoer"
                                    placeholder="Stel hier je vraag"></textarea>
                            </div>
                            <div class="col-12 my-2">
                                <button type="submit" class="btn btn-primary">Verzenden</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
