@{
    ViewData["Title"] = "Home Page";
}

<style>
    .jumbotron::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #4abdac;
        background: url(../img/heroimg3.jpeg) center no-repeat;
        background-size: cover;
        filter: brightness(60%);
    }
</style>

<div class="container-fluid px-lg-5 px-sm-0 position-relative" style="top: -5rem;">
    <div class="bg-light">
        <h1 class="display-5 text-center py-3">Over ons</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo non vero animi necessitatibus aliquid
            exercitationem dolorem esse, pariatur facilis quidem similique enim tenetur hic ratione, rerum, laudantium
            consequatur cumque quos labore ut unde quis! Quam eveniet dicta in unde laboriosam magni hic iure,
            veritatis,
            tempora sint eum voluptates fuga. Totam nobis nihil sunt doloremque, maiores magnam, recusandae tenetur
            magni
            consectetur animi adipisci sit, eius voluptate numquam alias mollitia et assumenda eveniet aut quo
            voluptatibus
            reprehenderit facere debitis dolorem. Quis, amet. Ipsum laborum distinctio amet tempore autem quae impedit!
            Voluptas, pariatur ipsa vel perferendis maiores beatae alias doloribus provident tempore rem numquam
            asperiores
            praesentium ratione aliquid totam laudantium amet, ex dicta harum illo laborum enim officiis. Excepturi
            suscipit, quas fugiat enim provident quidem asperiores quod quibusdam. Consectetur, eaque unde. Laborum
            minima
            blanditiis inventore molestias vitae dolore quia, officia laudantium doloribus aliquam exercitationem
            voluptatum
            cupiditate beatae eligendi eius ratione dolorum quisquam odio excepturi non dolorem sequi reprehenderit
            voluptatem? Incidunt cumque voluptates sapiente tempora animi natus pariatur labore excepturi saepe, minima
            et.
            Rem repellendus omnis pariatur aspernatur officiis. Incidunt illum sequi ipsum repellat minima, consequatur
            tenetur nobis labore vitae at eos possimus aliquam natus beatae quibusdam voluptates. Nobis optio aliquam
            suscipit voluptatem nesciunt tenetur quo quaerat delectus, laboriosam magnam earum rerum architecto,
            distinctio
            maiores consequuntur inventore reiciendis quos cumque harum repellat, velit aspernatur mollitia obcaecati
            eum.
            Totam rerum facilis laborum voluptatem, officiis sint tenetur. Delectus, beatae voluptatibus! Harum culpa ex
            distinctio consequuntur, hic unde corporis aperiam cupiditate? Culpa aliquam commodi assumenda reprehenderit
            quaerat non unde adipisci, quas incidunt hic dolor libero soluta. Officiis numquam doloribus consequatur qui
            facere beatae voluptatem asperiores recusandae vitae quo. Exercitationem nobis doloremque reprehenderit
            velit
            alias repellendus maxime quam a officia? Assumenda quas alias neque odit, cumque a atque sunt debitis
            officiis
            explicabo repudiandae eveniet sapiente dolorum nihil quaerat ab suscipit accusamus. Beatae dicta velit
            animi,
            illo assumenda iste rem ipsam nam est. Quidem dolorum velit repellat sequi voluptatem ipsa aut, sunt
            deserunt,
            quia autem in reprehenderit vitae, obcaecati eligendi ab? Quaerat facere nisi totam aliquam laudantium
            incidunt
            magnam fugit odit, nam laborum labore doloribus mollitia facilis iure amet consectetur aut nesciunt! Dolore
            quis
            minima architecto minus similique, ipsa rerum quas! Ut veritatis ullam ipsa eaque odit maiores quo dolor
            maxime
            saepe, modi aliquam molestiae repudiandae pariatur id iure fugit, cumque quisquam commodi corporis. Laborum
            repudiandae quaerat hic expedita quod ratione animi distinctio necessitatibus natus consequuntur dolorem
            voluptate mollitia, iste quas quos assumenda veniam dolorum cumque doloremque explicabo error vel rem nihil?
            Officia quis labore maiores accusantium, sed neque dicta officiis soluta harum illo similique repudiandae,
            animi
            nemo quidem doloremque quaerat natus, minus fugiat dolore. Consectetur maxime odio voluptatem ad, aut,
            provident
            aperiam optio impedit exercitationem soluta earum quibusdam sint placeat explicabo natus? Placeat
            repellendus
            adipisci tempore maiores soluta! Quae doloribus placeat nesciunt error quod excepturi temporibus, modi
            corrupti
            id, rerum vel doloremque totam odit quas libero ipsum esse eos debitis maiores voluptas iure accusantium
            minima?
            Earum maiores, vitae repellat minima a, exercitationem itaque quos esse, rerum praesentium nihil sit eum
            fuga
            architecto numquam quae tempore aliquid voluptatem? Earum eius perspiciatis aliquid magni reiciendis!
            Aperiam
            dolores placeat et at culpa ipsa laborum aspernatur numquam assumenda ipsum, officia laudantium voluptatum
            ab
            voluptatem esse deleniti tempora a odio doloremque modi nisi, consequuntur sunt commodi? Hic nostrum porro
            iste,
            dicta odio error voluptatum accusamus praesentium possimus. Optio cupiditate et commodi, possimus culpa
            sapiente
            id, assumenda exercitationem reiciendis omnis suscipit adipisci neque aliquid ipsum praesentium aliquam?
            Fuga
            perferendis provident repellendus voluptas! Optio ipsam maiores ipsum sunt quae possimus obcaecati doloribus
            voluptas amet vitae, alias eos ea dolorum delectus cupiditate iusto deserunt explicabo nam quo quidem
            numquam
            natus earum cumque velit. Eveniet corrupti aperiam, est officia assumenda laudantium laborum atque obcaecati
            iusto dolor magnam maiores ea fugiat incidunt ullam nam itaque! Cum explicabo, saepe quis voluptates omnis
            facere. Nemo tempore iure ipsa neque, perferendis ad minima tempora. Quibusdam, ad. Delectus eius,
            asperiores
            vel aperiam illum velit, eaque qui esse quas impedit iste nam ipsum. Quasi dolorem est ut? Temporibus
            doloremque
            maxime suscipit adipisci ullam, soluta consectetur exercitationem debitis aperiam incidunt aliquam quas
            illum.
            Esse alias perferendis voluptate ad! Officiis, ad corrupti inventore similique natus magni hic. Cum ea
            cumque ut
            perspiciatis omnis nulla sit voluptatum blanditiis a, quo quisquam maiores odio nostrum rerum at aut
            nesciunt
            quas laboriosam quod dolor molestias pariatur. Esse, nesciunt? Repudiandae error voluptate ipsam est veniam
            dolorum odit dolores vero necessitatibus, laudantium amet accusamus consequatur hic magnam aut impedit
            officia
            ut eum facere? Qui ea iusto laborum ut quis nam sint dolores quod, commodi voluptatibus delectus! Libero,
            eos
            corrupti vel harum repellat molestias, veniam veritatis iure earum laboriosam architecto deleniti mollitia
            suscipit. Quas earum voluptatem nostrum perferendis quo nesciunt molestiae incidunt cumque atque quibusdam
            temporibus, praesentium autem quasi quidem nam est fugit omnis at! Ipsa error, quisquam quasi sed fugit
            dolorum?
            Doloremque distinctio ullam dolore odit inventore ipsum laboriosam commodi enim voluptatem, dolores adipisci
            consequatur debitis. Impedit sapiente nulla minima atque, dolore ipsam consectetur rem, explicabo qui soluta
            quisquam magnam, harum earum! Sed modi minus nesciunt necessitatibus aut eveniet, omnis, odio deleniti
            itaque
            obcaecati dolor mollitia facilis laborum, vitae beatae voluptatem dolorem. Inventore rerum qui ullam
            delectus
            voluptate harum, recusandae consequuntur excepturi omnis facilis eveniet numquam incidunt reprehenderit
            architecto nesciunt optio corporis earum deserunt a voluptas laboriosam aspernatur magni ut? Exercitationem
            quos
            optio incidunt neque totam laudantium alias dignissimos nulla nostrum temporibus repellat, sunt ex quaerat
            porro
            ullam deleniti accusantium labore ipsa? Atque ea aliquid placeat aspernatur quo sint officiis fuga eveniet
            enim
            omnis culpa ex quae ipsum harum consectetur qui rem commodi suscipit similique nostrum, excepturi delectus
            esse
            et. Dolores magni vel beatae dicta excepturi, architecto autem quia ipsa. Temporibus, odio blanditiis omnis
            dignissimos nihil impedit at in? Eligendi placeat eaque ex et molestias optio corrupti sequi quaerat id
            pariatur
            eveniet, veritatis odit exercitationem temporibus ipsam fugiat dolore architecto in accusamus laborum, eos
            illo
            necessitatibus libero ducimus. Perspiciatis laborum quia impedit possimus modi blanditiis quae quos sequi
            officia, nihil ut saepe obcaecati illum quam consequuntur sint enim mollitia?
        </p>
    </div>
</div>