@{
    ViewData["Title"] = "Home Page";
}

<style>
    .jumbotron {
        height: 100vh;
    }

    .jumbotron::before {
        background-color: #4abdac;
        background: url(../img/heroimg3.jpeg) center no-repeat;
        background-size: cover;
        filter: brightness(60%);
    }
</style>

<partial name="_Jumbotron"></partial>
<div id="content" class="container-fluid position-relative px-0" style="top: -5rem;">
    <div class="bg-light shadow-lg mx-sm-5 px-5 pb-5">

        <!-- About Begin-->
        <section id="about" class="row mb-5">
            <h3 class="col-12 display-5 text-center py-4">Wat doen wij?</h3>
            <div class="col-lg-6 col-sm-12 text-center d-none d-lg-block">
                <img class="img-responsive " src="../img/pexels-naomi-shi-1001914.jpg" height="350" width="450">
            </div>
            <div class="col-lg-6 col-sm-12">
                In onze praktijk streven wij ernaar de unieke eigenschappen van uw kind te herkennen en erkennen. Wij
                bieden een speciale webapplicatie waardoor het mogelijk is om op verschillende manieren gesprekken te
                voeren, bijvoorbeeld via een chat. Dit is ideaal voor de onzekere tijden waar we nu in leven - zo kan uw
                kind namelijk ook vanuit huis gemakkelijk contact opnemen met de zorgverlener. Daarnaast bieden wij ook
                online groepsgesprekken aan, waardoor uw kind in gesprek kan met andere kinderen die tegen dezelfde
                problemen aan lopen. De groepsgesprekken zijn verdeeld per leeftijdscategorie of onderwerp.
            </div>
        </section>
        <!-- About End-->

        <!-- Vision Begin-->
        <section id="vision" class="row my-5">
            <h3 class="col-12 display-5 text-center py-4">Hoe wij helpen</h3>
            <div class="col-lg-6 col-sm-12">
                Maakt u zich zorgen over uw kind en zou u het liefst willen dat uw kind professionele begeleiding
                krijgt? Dan bent u hier aan het juiste adres! Wij zijn namelijk gespecialiseerd in het begeleiden van
                kinderen met adhd, ADD, depressies, angststoornissen, slecht zicht, slecht gehoor en alle andere dingen
                die kinderen beperkt in het leven.
                <br>
                Wij werken met gespecialiseerd opgeleiden verpleegkundigen die gemotiveerd zijn om kinderen een betere
                jeugd te geven. Zij willen elk kind een even goede behandeling bieden. Wij gaan ook graag een
                intakegesprek aan met uw kind, om samen te kijken wat de beste oplossing is. En vooral om te kijken of
                het iets is voor uw kind. Als u zich aanmeldt op onze site, dan kunt u gelijk een afspraak maken voor
                het intakegesprek. Alleen kinderen ouder dan 16 moeten zelf een afspraak inplannen.
                <br>
                Onze verpleegkundige hebben alle een geheimhoudingsplicht en mogen daarom ook geen informatie met jullie
                delen. Hierdoor proberen wij de gegevens zo goed mogelijk te beschermen. Wel mag u de frequentie van de
                chat bekijken. Ook onze onlinegegevens worden goed beveiligd door de applicatie die wij gebruiken. Zo
                worden gevoelige gegevens bijvoorbeeld versleuteld verstuurd.
            </div>
            <div class="col-lg-6 col-sm-12 text-center d-none d-lg-block">
                <img class="img-responsive" src="../img/pexels-cup-of-couple-8014273.jpg" height="450" width="350">
            </div>
        </section>
        <!-- Vision End-->

        <!-- Team Begin-->
        <section id="team" class="row my-5">
            <h3 class="col-12 display-5 text-center py-4">Onze hulpverleners</h3>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-4 my-3">
                        <div class="card text-center">
                            <img class="rounded-circle img-responsive mx-auto my-3" src="../img/PetervLier.png"
                                height="200" width="200" alt="Peter van lier, specialist op het gebied van depresie">
                            <div class="card-body">
                                <h4 class="card-title">Peter van Lier</h4>
                                <h5 class="card-subtitle mb-3 text-muted">Depresie</h5>
                                <p class="card-text">Mijn naam is Peter van lier, geboren op 04-08-1979 in Shanghai. Ik
                                    ben geadopteerd samen met mijn broertje door een Nederlands gezin toen ik 3 was.
                                    Vanaf de middelbare school vond ik het al heel interessant hoe verschillend elk kind
                                    is en hoe ieder met zijn eigen problemen omgaat. Dat is ook de reden waarom ik voor
                                    de studie orthopedagogiek heb gekozen.
                                </p>
                                <a class="btn btn-primary mx-1" href="#" role="button">Lees meer<span class="sr-only">
                                        over Peter van Lier</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4 my-3">
                        <div class="card text-center">
                            <img class="rounded-circle img-responsive mx-auto my-3" src="../img/Sacha.png" height="200"
                                width="200" alt="Sacha Pietersen, specialist op het gebied van stemmingsproblemen">
                            <div class="card-body">
                                <h4 class="card-title">Sacha Pietersen</h4>
                                <h5 class="card-subtitle mb-3 text-muted">Stemmingsproblemen</h5>
                                <p class="card-text">Hoi! Ik ben Sacha en ik ben 31 jaar oud. Van jongs af aan heb ik
                                    interesse in mentale gezondheid en jeugd problematiek. Op grond hiervan ben ik
                                    erachter gekomen dat ik mij wil verdiepen in de pedagogische wetenschappen.
                                </p>
                                <a class="btn btn-primary mx-1" href="#" role="button">Lees meer<span class="sr-only">
                                        over Sacha Pietersen</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4 my-3">
                        <div class="card text-center">
                            <img class="rounded-circle img-responsive mx-auto my-3" src="../img/NicolettePeters.png"
                                height="200" width="200"
                                alt="Nicolette Peters, specialist op het gebied van eetstoornis">
                            <div class="card-body">
                                <h4 class="card-title">Nicolette Peters</h4>
                                <h5 class="card-subtitle mb-3 text-muted">Eetstoornis</h5>
                                <p class="card-text">Mijn naam is Nicolette Peters en ik ben 46 jaar oud. Ik ben geboren
                                    in Vietnam en ben op mijn 5e verhuisd naar Nederland waar ik sindsdien woon. Mijn
                                    hobby's zijn om lange fietstochten te maken en socialiseren. Dat laatste is ook
                                    waarom ik besloot om van mijn hobby mijn werk te maken en te beginnen aan de studie
                                    WO Orthopedagogiek.</p>
                                <a class="btn btn-primary mx-1" href="#" role="button">Lees meer<span class="sr-only">
                                        over Nicolette Peters</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-4 my-3">
                        <div class="card text-center">
                            <img class="rounded-circle img-responsive mx-auto my-3" src="../img/ViktoriavdH.png"
                                height="200" width="200"
                                alt="Viktoria van de Hurk, specialist op het gebied van faalangst">
                            <div class="card-body">
                                <h4 class="card-title">Viktoria van den Hurk</h4>
                                <h5 class="card-subtitle mb-3 text-muted">Faalangst</h5>
                                <p class="card-text">Mijn naam is Viktoria van den Hurk, ik ben geboren in de stad Den
                                    Haag in het jaar 1977. Ik ben in 2001 naar Volendam verhuist samen met mijn man
                                    Timur en mijn hond Woezel. Ik heb zelf helaas geen kinderen, maar toch vind ik het
                                    leuk om met ze werken. Ik vind het ook erg belangrijk om aan de maatschappij bij te
                                    dragen door te zorgen dat iedereen gezond is en zich lekker voelt.</p>
                                <a class="btn btn-primary mx-1" href="#" role="button">Lees meer<span class="sr-only">
                                        over Viktoria van den Hurk</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Team End-->

    </div>
</div>
