@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Wachtwoord vergeten?";
}

<style>
    .jumbotron {
        height: 50vh;
    }

    .jumbotron::before {
        background-color: #213852;
    }
</style>

<partial name="_Jumbotron"></partial>
<div class="container-fluid position-relative px-0" style="top: -5rem;">
    <div class="bg-light shadow-lg mx-sm-5 px-5 pb-5">
        <div class="col-12 text-center">
            <h3 class="display-5 py-4">@ViewData["Title"]</h3>
            <p class="text-muted">Vul je E-mailadres in.</p>
        </div>
        <div class="row">
            <div class="col-md-4 mx-auto">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>

        @section Scripts {
        <partial name="_ValidationScriptsPartial" />
        }
