@model afspraakModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>afspraakModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="voornaam" class="control-label"></label>
                <input asp-for="voornaam" class="form-control" />
                <span asp-validation-for="voornaam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="achternaam" class="control-label"></label>
                <input asp-for="achternaam" class="form-control" />
                <span asp-validation-for="achternaam" class="text-danger"></span>
            </div>
            @* <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="jongerDan16" /> @Html.DisplayNameFor(model => model.jongerDan16)
                </label>
            </div> *@
            <div class="form-group">
                <label asp-for="geboorteDatum" class="control-label"></label>
                <input asp-for="geboorteDatum" class="form-control" />
                <span asp-validation-for="geboorteDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BSN" class="control-label"></label>
                <input asp-for="BSN" class="form-control" />
                <span asp-validation-for="BSN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="naamOuder" class="control-label"></label>
                <input asp-for="naamOuder" class="form-control" />
                <span asp-validation-for="naamOuder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="emailvanOuder" class="control-label"></label>
                <input asp-for="emailvanOuder" class="form-control" />
                <span asp-validation-for="emailvanOuder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="emailvanGebruiker" class="control-label"></label>
                <input asp-for="emailvanGebruiker" class="form-control" />
                <span asp-validation-for="emailvanGebruiker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gekozenHulpverlener" class="control-label"></label>
                <input asp-for="gekozenHulpverlener" class="form-control" />
                <span asp-validation-for="gekozenHulpverlener" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gekozenDatum" class="control-label"></label>
                <input asp-for="gekozenDatum" class="form-control" />
                <span asp-validation-for="gekozenDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gekozenTijd" class="control-label"></label>
                <input asp-for="gekozenTijd" class="form-control" />
                <span asp-validation-for="gekozenTijd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
